@font-face {
	font-family: "Paint";
	src: url("/fonts/paint/static/TMT-Paint-Regular.otf") format("opentype"),
		 url("/fonts/paint/variable/TMT-Paint-Regular.woff") format("woff"),
		 url("/fonts/paint/variable/TMT-Paint-Regular.woff2") format('woff2');
}
@font-face {
	font-family: "AUTHENTIC Remixed";
	src: url("/fonts/authentic-remixed/variable/TMT-AUTHENTICRemixedVF.ttf") format("truetype"),
		 url("/fonts/authentic-remixed/variable/TMT-AUTHENTICRemixedVF.woff") format("woff"),
		 url("/fonts/authentic-remixed/variable/TMT-AUTHENTICRemixedVF.woff2") format('woff2');
}
@font-face {
	font-family: "Bashful";
	src: url("/fonts/bashful/variable/TMT-BashfulVF.ttf") format("truetype"),
		 url("/fonts/bashful/variable/TMT-BashfulVF.woff") format("woff"),
		 url("/fonts/bashful/variable/TMT-BashfulVF.woff2") format('woff2');
}
@font-face {
	font-family: "Caffeine";
	src: url("/fonts/caffeine/variable/TMT-CaffeineVF.ttf") format("truetype"),
		 url("/fonts/caffeine/variable/TMT-CaffeineVF.woff") format("woff"),
		 url("/fonts/caffeine/variable/TMT-CaffeineVF.woff2") format('woff2');
}
@font-face {
	font-family: "PowerPack";
	src: url("/fonts/powerpack/variable/TMT-PowerPackVF.ttf") format("truetype"),
		 url("/fonts/powerpack/variable/TMT-PowerPackVF.woff") format("woff"),
		 url("/fonts/powerpack/variable/TMT-PowerPackVF.woff2") format('woff2');
}
@font-face {
	font-family: "Mini Mochi";
	src: url("/fonts/mini-mochi/variable/TMT-MiniMochiVF.ttf") format("truetype"),
		 url("/fonts/mini-mochi/variable/TMT-MiniMochiVF.woff") format("woff"),
		 url("/fonts/mini-mochi/variable/TMT-MiniMochiVF.woff2") format('woff2');
}
@font-face {
	font-family: "That Then This";
	src: url("/fonts/that-then-this/variable/TMT-ThatThenThisVF.ttf") format("truetype"),
		 url("/fonts/that-then-this/variable/TMT-ThatThenThisVF.woff") format("woff"),
		 url("/fonts/that-then-this/variable/TMT-ThatThenThisVF.woff2") format('woff2');
}
@font-face {
	font-family: "Dreidel";
	src: url("/fonts/dreidel/variable/TMT-DreidelVF.ttf") format("truetype"),
		 url("/fonts/dreidel/variable/TMT-DreidelVF.woff") format("woff"),
		 url("/fonts/dreidel/variable/TMT-DreidelVF.woff2") format('woff2');
}
@font-face {
	font-family: "Limkin";
	src: url("/fonts/limkin/variable/TMT-LimkinVF.ttf") format("truetype"),
		 url("/fonts/limkin/variable/TMT-LimkinVF.woff") format("woff"),
		 url("/fonts/limkin/variable/TMT-LimkinVF.woff2") format('woff2');
	font-weight: 100 900;
}
@font-face {
	font-family: "Limkin Pixel";
	src: url("/fonts/limkin-pixel/variable/TMT-LimkinPixelVF.ttf") format("truetype"),
		 url("/fonts/limkin-pixel/variable/TMT-LimkinPixelVF.woff") format("woff"),
		 url("/fonts/limkin-pixel/variable/TMT-LimkinPixelVF.woff2") format('woff2');
	font-weight: 100 900;
}
@font-face {
	font-family: "Music Box";
	src: url("/fonts/music-box/variable/TMT-MusicBoxVF.ttf") format("truetype"),
		 url("/fonts/music-box/variable/TMT-MusicBoxVF.woff") format("woff"),
		 url("/fonts/music-box/variable/TMT-MusicBoxVF.woff2") format('woff2');
}
@font-face {
	font-family: "Work Sans Galapagos";
	src: url("/fonts/work-sans-galapagos/regular/variable/TMT-WorkSansGalapagosVF.ttf") format("truetype"),
		 url("/fonts/work-sans-galapagos/regular/variable/TMT-WorkSansGalapagosVF.woff") format("woff"),
		 url("/fonts/work-sans-galapagos/regular/variable/TMT-WorkSansGalapagosVF.woff2") format('woff2');
	font-weight: 100 900;
	font-style: normal;
}
@font-face {
	font-family: "Avara Burst";
	src: url("/fonts/avara-burst/variable/TMT-AvaraBurstVF.ttf") format("truetype"),
		 url("/fonts/avara-burst/variable/TMT-AvaraBurstVF.woff") format("woff"),
		 url("/fonts/avara-burst/variable/TMT-AvaraBurstVF.woff2") format('woff2');
}
@font-face {
	font-family: "FT88 RISD";
	src: url("/fonts/ft88-risd/variable/TMT-FT88RISDVF.ttf") format("truetype"),
		 url("/fonts/ft88-risd/variable/TMT-FT88RISDVF.woff") format("woff"),
		 url("/fonts/ft88-risd/variable/TMT-FT88RISDVF.woff2") format('woff2');
}
@font-face {
	font-family: "Work Sans Galapagos";
	src: url("/fonts/work-sans-galapagos/italic/variable/TMT-WorkSansGalapagosVF.ttf") format("truetype"),
		 url("/fonts/work-sans-galapagos/italic/variable/TMT-WorkSansGalapagosVF.woff") format("woff"),
		 url("/fonts/work-sans-galapagos/italic/variable/TMT-WorkSansGalapagosVF.woff2") format('woff2');
	font-weight: 100 900;
	font-style: italic;
}
@font-face {
	font-family: "Typey";
	src: url("/fonts/typey/variable/TMT-TypeyVF.ttf") format("truetype"),
		 url("/fonts/typey/variable/TMT-TypeyVF.woff") format("woff"),
		 url("/fonts/typey/variable/TMT-TypeyVF.woff2") format('woff2');
}
@font-face {
	font-family: "IBM Plex Mono";
	src: url("/assets/fonts/IBMPlexMono-Regular.ttf");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary: white;
	--secondary: #191919;
	--tertiary: #292929;
	--top: 0px;
	--right: 0px;
	--bottom: 40px;
	--left: 0px;
}
body {
	font-family: "Limkin Pixel", sans-serif;
	font-variation-settings: "wght" 500;
	font-weight: 500;
	background-color: black;
	width: 100vw;
	height: 100dvh;
	background-image: url('/assets/ui/checkerboard-round.svg');
	background-size: 8px 8px;
	background-position: 0 0, 0 12px, 12px -12px, -12px 0px;
	font-synthesis: none;
}
body[data-color-mode="1"] * {
	--primary: white !important;
	--secondary: #191919 !important;
	--tertiary: #292929 !important;
}
.container {
	width: 100vw;
	height: 100dvh;
	position: fixed;
	left: var(--left);
	top: var(--top);
	overflow: hidden;
}

/* ————————————————————————————————————— */
/* DESKTOP */
/* ————————————————————————————————————— */

/* Logo */
.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	image-rendering: pixelated;
	z-index: 999999999;
	pointer-events: none;
	filter: drop-shadow(0 0 20px #222);
}
.logo h1 {
	display: none;
}
.logo img {
	height: 60vmin;
	animation: logo-in .3s cubic-bezier(0.34, 1.56, 0.64, 1) forwards, logo-out .5s 1s cubic-bezier(0.7, 0, 0.84, 0) forwards;
}
@keyframes logo-in {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes logo-out {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

/* Menu */
.menu {
	position: absolute;
	left: 0;
	width: 600px;
	max-width: 100vw;
	bottom: var(--bottom);
	border: 1px solid var(--secondary);
	max-height: calc(100dvh - var(--bottom));
	z-index: 9997;
	background-color: var(--tertiary);
	box-shadow: 0 0 16px rgba(0,0,0,.2);
	transform: translateY(100%);
	transition: transform .2s;
	display: flex;
	flex-direction: column;
	gap: 1px;
	overflow-y: scroll;
}
.menu *::-webkit-scrollbar {
    display: none;
}
.menu[data-active="1"] {
	transform: translateY(0%);
}
.menu-desc {
	padding: 16px;
	font-size: 18px;
	color: var(--primary);
	font-weight: 300;
	font-variation-settings: "wght" 300;
	text-wrap: pretty;
	line-height: 1.2em;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.menu-title {
	height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	white-space: nowrap;
	gap: 8px;
	background-color: var(--primary);
	padding: 4px 16px;
	color: var(--secondary);
	fill: var(--secondary);
	position: relative;
	background-image: linear-gradient(45deg, var(--secondary) 25%, transparent 25%), linear-gradient(-45deg, var(--secondary) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--secondary) 75%), linear-gradient(-45deg, transparent 75%, var(--secondary) 75%);
	background-size: 2px 2px;
	background-position: 0 0, 0 1px, 1px -1px, -1px 0px;
	flex-shrink: 0;
}
.menu-title svg {
	flex-shrink: 0;
	aspect-ratio: 1/1;
	height: 100%;
}
.menu-title span {
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	letter-spacing: .02em;
	line-height: 1em;
	padding-top: .15em;
	padding-right: 4px;
}
.menu-section {
	background-color: var(--secondary);
}
.menu-typeface {
	display: flex;
	flex-direction: column;
	fill: var(--primary);
	color: var(--primary);
}
.menu-typeface:hover {
	background-color: rgba(0,0,0,.1);
}
.menu-typeface svg {
	flex-shrink: 0;
	aspect-ratio: 1/1;
	width: 24px;
	height: 24px;
}
.menu-typeface-links {
	display: flex;
	align-items: stretch;
	height: 40px;
	background-color: var(--tertiary);
	overflow-x: scroll;
}
.menu-typeface-links button, .menu-typeface-links a {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	fill: var(--primary);
	padding: 0 16px;
	cursor: pointer;
	border: unset;
	font-family: "Limkin Pixel", sans-serif;
	font-weight: 500;
	font-variation-settings: "wght" 500;
	color: var(--primary);
	gap: 8px;
	text-decoration: none;
	text-align: center;
}
.menu-typeface-links button svg, .menu-typeface-links a svg {
	flex-shrink: 0;
	aspect-ratio: 1/1;
	width: 24px;
	height: 24px;
}
.menu-typeface-links button span, .menu-typeface-links a span {
	font-size: 12px;
	line-height: 1.1em;
	letter-spacing: 0.02em;
	padding-top: .1em;
}
.menu-typeface-links button:hover, .menu-typeface-links a:hover {
	fill: var(--tertiary);
	background-color: var(--primary);
	color: var(--tertiary);
}
.menu-typeface-links button:active, .menu-typeface-links a:active {
	opacity: 0.5;
}
.menu-experimental {
	display: grid;
	gap: 1px;
	background-color: var(--tertiary);
}
.menu-experimental-item {
	display: flex;
	flex-direction: column;
}
.menu-experimental-item-title {
	color: var(--primary);
	fill: var(--primary);
	width: unset;
	border: unset;
	display: flex;
	align-items: center;
	padding: 8px 16px;
	font-size: 24px;
	height: 64px;
	line-height: 1em;
	gap: 16px;
	background-color: var(--secondary);
	font-weight: 300;
	font-variation-settings: "wght" 300;
}
.menu-experimental-item-title svg {
	height: 32px;
	width: 32px;
}
.menu-experimental-item-title span {
	padding-top: .15em;
}
.menu-experimental-item-links {
	display: flex;
	align-items: stretch;
	height: 40px;
	background-color: var(--tertiary);
	overflow-x: scroll;
}
.menu-experimental-item-links button, .menu-experimental-item-links a {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	fill: var(--primary);
	padding: 0 16px;
	cursor: pointer;
	border: unset;
	font-family: "Limkin Pixel", sans-serif;
	font-variation-settings: "wght" 500;
	font-weight: 500;
	color: var(--primary);
	gap: 8px;
	text-decoration: none;
	text-align: center;
}
.menu-experimental-item-links button svg, .menu-experimental-item-links a svg {
	flex-shrink: 0;
	aspect-ratio: 1/1;
	width: 24px;
	height: 24px;
}
.menu-experimental-item-links button span, .menu-experimental-item-links a span {
	font-size: 12px;
	line-height: 1.1em;
	letter-spacing: 0.02em;
	padding-top: .1em;
}
.menu-experimental-item-links button:hover, .menu-experimental-item-links a:hover {
	fill: var(--tertiary);
	background-color: var(--primary);
	color: var(--tertiary);
}
.menu-experimental-item-links button:active, .menu-experimental-item-links a:active {
	opacity: 0.5;
}

/* Menu font previews */
.menu-typeface-preview {
	overflow: scroll;
	display: flex;
	align-items: center;
	font-size: 40px;
	line-height: .5em;
	padding: 16px 16px 12px 16px;
	height: 64px;
	white-space: nowrap;
	color: var(--secondary);
	background-color: var(--primary);
}
.menu-typeface-preview:focus {
	outline: unset;
}
.menu-typeface[data-font='Bashful'] .menu-typeface-preview {
	font-family: 'Bashful';
	font-variation-settings: 'BASH' 0;
	animation: menu-bashful 1s infinite ease-in-out alternate;
}
@keyframes menu-bashful {
	0% {
		font-variation-settings: 'BASH' 0;
	}
	100% {
		font-variation-settings: 'BASH' 100;
	}
}
.menu-typeface[data-font='Caffeine'] .menu-typeface-preview {
	font-family: 'Caffeine';
	font-variation-settings: 'SCRI' 0, 'SCRA' 0;
	animation: menu-caffeine 1s infinite steps(1);
}
@keyframes menu-caffeine {
	0% {
		font-variation-settings: 'SCRI' 0, 'SCRA' 0;
	}
	20% {
		font-variation-settings: 'SCRI' 0, 'SCRA' 50;
	}
	40% {
		font-variation-settings: 'SCRI' 100, 'SCRA' 0;
	}
	60% {
		font-variation-settings: 'SCRI' 75, 'SCRA' 50;
	}
	80% {
		font-variation-settings: 'SCRI' 25, 'SCRA' 100;
	}
	100% {
		font-variation-settings: 'SCRI' 50, 'SCRA' 0;
	}
}
.menu-typeface[data-font='Dreidel'] .menu-typeface-preview {
	font-family: 'Dreidel';
	font-variation-settings: 'SPIN' -45;
	animation: menu-dreidel 2s infinite ease-in-out;
}
@keyframes menu-dreidel {
	0% {
		font-variation-settings: 'SPIN' -45;
	}
	100% {
		font-variation-settings: 'SPIN' 405;
	}
}
.menu-typeface[data-font='Limkin'] .menu-typeface-preview {
	font-family: 'Limkin';
	font-variation-settings: 'wght' 500, 'SRFF' 100;
	animation: menu-limkin 8s infinite ease-in-out;
	padding-top: .5em;
}
@keyframes menu-limkin {
	0% {
		font-variation-settings: 'wght' 500, 'SRFF' 100;
	}
	17% {
		font-variation-settings: 'wght' 500, 'SRFF' 0;
	}
	34% {
		font-variation-settings: 'wght' 900, 'SRFF' 100;
	}
	51% {
		font-variation-settings: 'wght' 900, 'SRFF' 0;
	}
	68% {
		font-variation-settings: 'wght' 100, 'SRFF' 100;
	}
	85% {
		font-variation-settings: 'wght' 100, 'SRFF' 0;
	}
	100% {
		font-variation-settings: 'wght' 500, 'SRFF' 100;
	}
}
.menu-typeface[data-font='Limkin Pixel'] .menu-typeface-preview {
	font-family: 'Limkin Pixel';
	font-variation-settings: 'wght' 500;
	animation: menu-limkinpixel 3s infinite ease-in-out;
	padding-top: .5em;
}
@keyframes menu-limkinpixel {
	0% {
		font-variation-settings: 'wght' 500;
	}
	25% {
		font-variation-settings: 'wght' 100;
	}
	50% {
		font-variation-settings: 'wght' 500;
	}
	75% {
		font-variation-settings: 'wght' 900;
	}
	100% {
		font-variation-settings: 'wght' 500;
	}
}
.menu-typeface[data-font='Mini Mochi'] .menu-typeface-preview {
	font-family: 'Mini Mochi';
	font-variation-settings: 'STCH' 50, 'FLAV' 0, 'SLCE' 0;
	animation: menu-minimochi 8s infinite ease-in-out alternate;
}
@keyframes menu-minimochi {
	0% {
		font-variation-settings: 'STCH' 50, 'FLAV' 0, 'SLCE' 0;
	}
	17% {
		font-variation-settings: 'STCH' 100, 'FLAV' 0, 'SLCE' 0;
	}
	34% {
		font-variation-settings: 'STCH' 0, 'FLAV' 0, 'SLCE' 0;
	}
	51% {
		font-variation-settings: 'STCH' 100, 'FLAV' 100, 'SLCE' 0;
	}
	68% {
		font-variation-settings: 'STCH' 0, 'FLAV' 100, 'SLCE' 0;
	}
	85% {
		font-variation-settings: 'STCH' 100, 'FLAV' 100, 'SLCE' 100;
	}
	100% {
		font-variation-settings: 'STCH' 0, 'FLAV' 100, 'SLCE' 100;
	}
}
.menu-typeface[data-font='Music Box'] .menu-typeface-preview {
	font-family: 'Music Box';
	font-size: 1.8em;
	padding-top: .4em;
	font-variation-settings: 'FREQ' -100, 'AMPL' 100;
	animation: menu-musicbox 1s infinite ease-in-out alternate;
}
@keyframes menu-musicbox {
	0% {
		font-variation-settings: 'FREQ' -100, 'AMPL' 100;
	}
	100% {
		font-variation-settings: 'FREQ' 100, 'AMPL' 100;
	}
}
.menu-typeface[data-font='Paint'] .menu-typeface-preview {
	font-family: 'Paint';
	padding-top: .25em;
}
.menu-typeface[data-font='PowerPack'] .menu-typeface-preview {
	font-family: 'PowerPack';
	font-variation-settings: 'CHRG' 0, 'POWR' 100;
	animation: menu-powerpack 2s infinite ease-in-out alternate;
	padding-top: .5em;
}
@keyframes menu-powerpack {
	0% {
		font-variation-settings: 'CHRG' 0, 'POWR' 0;
	}
	50% {
		font-variation-settings: 'CHRG' 0, 'POWR' 100;
	}
	100% {
		font-variation-settings: 'CHRG' 100, 'POWR' 100;
	}
}
.menu-typeface[data-font='That Then This'] .menu-typeface-preview {
	font-family: 'That Then This';
	font-variation-settings: 'THAT' 0, 'THIS' 100;
	padding-top: .5em;
	padding-left: .3em;
	animation: menu-thatthenthis 2s infinite ease-in-out;
}
@keyframes menu-thatthenthis {
	0% {
		font-variation-settings: 'THAT' 0, 'THIS' 0;
	}
	25% {
		font-variation-settings: 'THAT' 0, 'THIS' 100;
	}
	50% {
		font-variation-settings: 'THAT' 100, 'THIS' 100;
	}
	75% {
		font-variation-settings: 'THAT' 100, 'THIS' 0;
	}
	100% {
		font-variation-settings: 'THAT' 0, 'THIS' 0;
	}
}
.menu-typeface[data-font='AUTHENTIC Remixed'] .menu-typeface-preview {
	font-family: 'AUTHENTIC Remixed';
	font-variation-settings: 'XAXI' 0, 'YAXI' 0;
	animation: menu-authenticremixed 2s infinite ease-in-out alternate;
	padding-top: .5em;
}
@keyframes menu-authenticremixed {
	0% {
		font-variation-settings: 'XAXI' 0, 'YAXI' 0;
	}
	20% {
		font-variation-settings: 'XAXI' 100, 'YAXI' 10;
	}
	40% {
		font-variation-settings: 'XAXI' -100, 'YAXI' 100;
	}
	60% {
		font-variation-settings: 'XAXI' -100, 'YAXI' -100;
	}
	80% {
		font-variation-settings: 'XAXI' 100, 'YAXI' -100;
	}
	100% {
		font-variation-settings: 'XAXI' 0, 'YAXI' 0;
	}
}
.menu-typeface[data-font='Avara Burst'] .menu-typeface-preview {
	font-family: 'Avara Burst';
	font-variation-settings: 'BRST' 0;
	animation: menu-avaraburst 1s infinite ease-in-out alternate;
	padding-top: .65em;
}
@keyframes menu-avaraburst {
	0% {
		font-variation-settings: 'BRST' 0;
	}
	17% {
		font-variation-settings: 'BRST' 1;
	}
	34% {
		font-variation-settings: 'BRST' 0;
	}
	100% {
		font-variation-settings: 'BRST' 3;
	}
}
.menu-typeface[data-font='FT88 RISD'] .menu-typeface-preview {
	font-family: 'FT88 RISD';
	font-variation-settings: 'DISP' 0;
	animation: menu-ft88risd 1s infinite ease-in-out alternate;
}
@keyframes menu-ft88risd {
	0% {
		font-variation-settings: 'DISP' 0;
	}
	100% {
		font-variation-settings: 'DISP' 100;
	}
}
.menu-typeface[data-font='Work Sans Galapagos'] .menu-typeface-preview {
	font-family: 'Work Sans Galapagos';
	font-variation-settings: 'wght' 500, 'SHLL' 100;
	animation: menu-worksansgalapagos 8s infinite ease-in-out;
	font-feature-settings: "ss01" 1, "ss06" 1;
	padding-top: .3em;
}
@keyframes menu-worksansgalapagos {
	0% {
		font-variation-settings: 'wght' 500, 'SHLL' 100;
	}
	17% {
		font-variation-settings: 'wght' 500, 'SHLL' 0;
	}
	34% {
		font-variation-settings: 'wght' 900, 'SHLL' 100;
	}
	51% {
		font-variation-settings: 'wght' 900, 'SHLL' 0;
	}
	68% {
		font-variation-settings: 'wght' 100, 'SHLL' 100;
	}
	85% {
		font-variation-settings: 'wght' 100, 'SHLL' 0;
	}
	100% {
		font-variation-settings: 'wght' 500, 'SHLL' 100;
	}
}
@media screen and (max-width: 800px) {
	.menu-typeface-preview {
		font-size: 32px;
		height: 64px;
		padding: 8px 16px;
	}
	.menu-typeface[data-font='Music Box'] .menu-typeface-preview {
		font-size: 22px;
	}
}

/* Dock */
.dock {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	display: flex;
	gap: 1px;
	align-items: stretch;
	z-index: 9999;
	background-color: var(--tertiary);
}
.dock-toggle {
	flex-shrink: 0;
	flex-grow: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary);
	fill: var(--secondary);
	padding: 4px 16px;
	cursor: pointer;
	border: unset;
	font-family: "Limkin Pixel", sans-serif;
	color: var(--secondary);
	gap: 8px;
}
.dock-toggle svg {
	flex-shrink: 0;
	aspect-ratio: 1/1;
	height: 18px;
}
.dock-toggle span {
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 16px;
	letter-spacing: .02em;
	line-height: 1em;
	padding-top: .15em;
	padding-right: 4px;
}
.dock-toggle:hover {
	fill: var(--primary);
	background-color: var(--secondary);
	color: var(--primary);
}
.dock-toggle:active {
	opacity: 0.5;
}
.dock-toggle[data-active="1"] {
	background-image: linear-gradient(45deg, var(--secondary) 25%, transparent 25%), linear-gradient(-45deg, var(--secondary) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--secondary) 75%), linear-gradient(-45deg, transparent 75%, var(--secondary) 75%);
	background-size: 2px 2px;
	background-position: 0 0, 0 3px, 3px -3px, -3px 0px;
}
.dock-windows {
	display: flex;
	height: 100%;
	flex-grow: 1;
	overflow-x: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	gap: 1px;
}
.dock-windows::-webkit-scrollbar {
	display: none;
}
.dock-item {
	flex: 0 1 160px;
	min-width: 64px;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	white-space: nowrap;
	gap: 8px;
	background-color: var(--primary);
	padding: 4px 16px;
	cursor: pointer;
	color: var(--secondary);
	fill: var(--secondary);
	position: relative;
	transition: min-width .2s;
}
.dock-item[data-active="0"] {
	color: var(--secondary);
	fill: var(--secondary);
	opacity: .25;
}
.dock-item[data-selected="1"] {
	background-image: linear-gradient(45deg, var(--secondary) 25%, transparent 25%), linear-gradient(-45deg, var(--secondary) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--secondary) 75%), linear-gradient(-45deg, transparent 75%, var(--secondary) 75%);
	background-size: 2px 2px;
	background-position: 0 0, 0 3px, 3px -3px, -3px 0px;
}
.dock-item:hover {
	min-width: 160px;
	opacity: 1;
	background-color: var(--secondary);
	color: var(--primary);
	fill: var(--primary);
}
.dock-item:active {
	opacity: .5;
}
.dock-item svg {
	flex-shrink: 0;
	aspect-ratio: 1/1;
	height: 20px;
}
.dock-item-text {
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	letter-spacing: .02em;
	line-height: 1em;
	padding-top: .15em;
	padding-right: 4px;
}
.dock-clock {
	flex-shrink: 0;
	flex-grow: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	fill: var(--primary);
	padding: 4px 16px;
	border: unset;
	font-family: "Limkin Pixel", sans-serif;
	color: var(--primary);
	gap: 8px;
}
.dock-clock svg {
	flex-shrink: 0;
	aspect-ratio: 1/1;
	height: 18px;
}
.dock-clock > span {
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 16px;
	letter-spacing: .02em;
	line-height: 1em;
	padding-top: .15em;
	padding-right: 4px;
}
.dock-clock-number {
	width: 1.3em;
	text-align: center;
	display: inline-block;
}
@media screen and (max-width: 1000px) {
	.dock-toggle span {
		display: none;
	}
	.dock-clock-date {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	.dock-clock {
		display: none;
	}
}

/* Settings */
.settings {
	position: absolute;
	left: 0;
	width: 400px;
	max-width: 100vw;
	bottom: var(--bottom);
	border: 1px solid var(--secondary);
	max-height: calc(100dvh - var(--bottom));
	z-index: 9997;
	background-color: var(--tertiary);
	box-shadow: 0 0 16px rgba(0,0,0,.2);
	transform: translateY(100%);
	transition: transform .2s;
	display: flex;
	flex-direction: column;
	gap: 1px;
	overflow-y: scroll;
}
.settings[data-active="1"] {
	transform: translateY(0%);
}
.settings-desc {
	padding: 16px;
	font-size: 18px;
	color: var(--primary);
	font-weight: 300;
	font-variation-settings: "wght" 300;
	text-wrap: pretty;
	line-height: 1.2em;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.settings-title {
	height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	white-space: nowrap;
	gap: 8px;
	background-color: var(--primary);
	padding: 4px 16px;
	color: var(--secondary);
	fill: var(--secondary);
	position: relative;
	background-image: linear-gradient(45deg, var(--secondary) 25%, transparent 25%), linear-gradient(-45deg, var(--secondary) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--secondary) 75%), linear-gradient(-45deg, transparent 75%, var(--secondary) 75%);
	background-size: 2px 2px;
	background-position: 0 0, 0 1px, 1px -1px, -1px 0px;
	flex-shrink: 0;
}
.settings-title svg {
	flex-shrink: 0;
	aspect-ratio: 1/1;
	height: 100%;
}
.settings-title span {
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	letter-spacing: .02em;
	line-height: 1em;
	padding-top: .15em;
	padding-right: 4px;
}
.settings-grid {
	display: grid;
	gap: 1px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: start;
	align-content: start;
}
.settings-grid button {
	flex-shrink: 0;
	flex-grow: 0;
	aspect-ratio: 1/1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: var(--primary);
	fill: var(--secondary);
	padding: 4px 8px;
	cursor: pointer;
	border: unset;
	font-family: "Limkin Pixel", sans-serif;
	color: var(--secondary);
	gap: 8px;
}
.settings-grid button svg {
	flex-shrink: 0;
	aspect-ratio: 1/1;
	width: 32px;
	height: 32px;
}
.settings-grid button span {
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 12px;
	letter-spacing: 0.02em;
	line-height: 1.1em;
}
.settings-grid button:hover {
	fill: var(--primary);
	background-color: var(--secondary);
	color: var(--primary);
}
.settings-grid button:active {
	opacity: 0.5;
}
@media screen and (max-width: 380px) {
	.settings-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/* Desktop */
.desktop {
	position: absolute;
	top: var(--top);
	left: var(--left);
	right: var(--right);
	bottom: var(--bottom);
	padding: 10px;
	gap: 10px;
	z-index: 0;
}
.desktop-letter {
	position: absolute;
	color: var(--primary);
	text-decoration: none;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 8px 8px 4px 8px;
	width: 100px;
	height: 100px;
	user-select: none;
	-webkit-user-drag: none;
	cursor: pointer;
	transform-origin: top left;
	transform: scale(0) translate(-50%, -50%);
	transition: top cubic-bezier(0.25, 1, 0.5, 1) .5s, left cubic-bezier(0.25, 1, 0.5, 1) .5s, transform cubic-bezier(0.25, 1, 0.5, 1) .5s;
}
.desktop-letter[data-reposition="1"] {
	transition: 0s;
	cursor: grabbing;
}
.desktop-letter[data-initialize="1"] {
	transform: scale(1) translate(-50%, -50%);
}
.desktop-letter:hover {
	outline: 1px solid white;
	z-index: 5;
}
.desktop-letter[data-active="1"] {
	outline: 1px solid var(--primary);
	z-index: 5;
}
.desktop-letter:active {
	z-index: 5;
}
.desktop-letter-glyph {
	width: 48px;
	height: 48px;
	flex-shrink: 0;
	image-rendering: pixelated;
	color: var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 48px;
	pointer-events: none;
}
.desktop-letter:active .desktop-letter-glyph {
	opacity: .5;
}
.desktop-letter span {
	font-family: "Limkin Pixel", sans-serif;
	font-size: 12px;
	letter-spacing: 0.05em;
	line-height: 1.1em;
	color: white;
}
body[data-hide-font-names="1"] .desktop-letter span {
	display: none;
}

/* Info */
.info {
	position: absolute;
	left: 0;
	width: 400px;
	max-width: 100vw;
	bottom: var(--bottom);
	border: 1px solid var(--secondary);
	max-height: calc(100dvh - var(--bottom));
	z-index: 9997;
	background-color: var(--tertiary);
	box-shadow: 0 0 16px rgba(0,0,0,.2);
	transform: translateY(100%);
	transition: transform .2s;
	display: flex;
	flex-direction: column;
	gap: 1px;
	overflow-y: scroll;
}
.info[data-active="1"] {
	transform: translateY(0%);
}
.info-desc {
	padding: 16px;
	font-size: 18px;
	color: var(--primary);
	font-weight: 300;
	font-variation-settings: "wght" 300;
	text-wrap: pretty;
	line-height: 1.2em;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.info-desc a {
	color: var(--primary);
}
.info-desc a:hover {
	text-decoration: none;
}
.info-desc a:active {
	opacity: .5;
}
.info-desc ul {
	font-size: 14px;
	margin-left: 16px;
	list-style-type: square;
}
.info-title {
	height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	white-space: nowrap;
	gap: 8px;
	background-color: var(--primary);
	padding: 4px 16px;
	color: var(--secondary);
	fill: var(--secondary);
	position: relative;
	background-image: linear-gradient(45deg, var(--secondary) 25%, transparent 25%), linear-gradient(-45deg, var(--secondary) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--secondary) 75%), linear-gradient(-45deg, transparent 75%, var(--secondary) 75%);
	background-size: 2px 2px;
	background-position: 0 0, 0 1px, 1px -1px, -1px 0px;
	flex-shrink: 0;
}
.info-title svg {
	flex-shrink: 0;
	aspect-ratio: 1/1;
	height: 100%;
}
.info-title span {
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	letter-spacing: .02em;
	line-height: 1em;
	padding-top: .15em;
	padding-right: 4px;
}
.info-desc-brands {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 8px;
}
.info-desc-brands a {
	border: 1px solid var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
}
.info-desc-brands a img {
	width: 100%;
}
.info-desc-brands a:hover {
	opacity: .8;
}
.info-desc-brands a:active {
	opacity: .5;
}

/* Desktop settings */
.desktop-settings {
	position: absolute;
	top: 0;
	left: 0;
	width: 244px;
	background-color: var(--secondary);
	gap: 1px;
	border: 1px solid var(--secondary);
	display: grid;
	z-index: 999;
	grid-template-rows: 24px 1fr;
	box-shadow: 0 0 16px rgba(0,0,0,.2);
}
.desktop-settings[data-active="0"] {
	display: none;
}
.desktop-settings-titlebar {
	height: 24px;
	background-color: var(--primary);
	color: var(--secondary);
	fill: var(--secondary);
	display: flex;
	cursor: grab;
}
.desktop-settings-font {
	flex-grow: 1;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	white-space: nowrap;
	gap: 8px;
	padding: 4px 8px;
}
.desktop-settings-font:hover {
	background-image: linear-gradient(45deg, var(--secondary) 25%, transparent 25%), linear-gradient(-45deg, var(--secondary) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--secondary) 75%), linear-gradient(-45deg, transparent 75%, var(--secondary) 75%);
	background-size: 2px 2px;
	background-position: 0 0, 0 1px, 1px -1px, -1px 0px; 
}
.desktop-settings-font:active {
	cursor: grabbing;
	opacity: .5;
	background-image: linear-gradient(45deg, var(--secondary) 25%, transparent 25%), linear-gradient(-45deg, var(--secondary) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--secondary) 75%), linear-gradient(-45deg, transparent 75%, var(--secondary) 75%);
	background-size: 2px 2px;
	background-position: 0 0, 0 1px, 1px -1px, -1px 0px;  
}
.desktop-settings-font svg {
	flex-shrink: 0;
	aspect-ratio: 1/1;
	height: 100%;
}
.desktop-settings-font span {
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	letter-spacing: .02em;
	line-height: 1em;
	padding-top: .15em;
	padding-right: 4px;
}
.desktop-settings-close {
	flex-shrink: 0;
	height: 100%;
	aspect-ratio: 1/1;
	padding: 4px;
	border: unset;
	background-color: unset;
	fill: var(--secondary);
	cursor: pointer;
}
.desktop-settings-close:hover {
	background-color: var(--secondary);
	fill: var(--primary);
}
.desktop-settings-close:active {
	opacity: .5;
}
.desktop-settings-close svg {
	height: 100%;
}
.desktop-settings-content {
	display: flex;
	flex-direction: column;
	gap: 1px;
	background-color: var(--secondary);
}
.desktop-settings-specimen[data-active="0"] {
	display: none;
}
.desktop-settings-variable {
	display: flex;
	flex-direction: column;
	gap: 1px;
	background-color: var(--secondary);
}
.desktop-settings-variable[data-active="0"] {
	display: none;
}
.desktop-settings-variation {
	height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 4px 8px;
	background-color: var(--primary);
	color: var(--secondary);
	fill: var(--secondary);
	opacity: .5;
}
.desktop-settings-variation:hover {
	opacity: 1;
	background-color: var(--secondary);
	color: var(--primary);
	fill: var(--primary);
}
.desktop-settings-variation label {
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	font-size: 12px;
	letter-spacing: .05em;
	line-height: 1em;
	padding-top: .2em;
	display: flex;
	align-items: center;
}
.desktop-settings-variation input[type="range"] {
	flex-grow: 1;
	-webkit-appearance: none;
	appearance: none;
	height: 1px;
	background-color: var(--secondary);
	cursor: pointer;
}
.desktop-settings-variation input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 14px;
	height: 14px;
	background: var(--primary);
	border: 1px solid var(--secondary);
	cursor: grab;
}
.desktop-settings-variation input::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 14px;
	height: 14px;
	background: var(--primary);
	border: 1px solid var(--secondary);
	cursor: grab;
}
.desktop-settings-variation:hover input[type="range"] {
	background: var(--primary);
}
.desktop-settings-variation input:active {
	cursor: grabbing;
}
.desktop-settings-variation:active input {
	opacity: .5;
}
.desktop-settings-content button, .desktop-settings-content a {
	height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	white-space: nowrap;
	gap: 8px;
	background-color: var(--primary);
	padding: 4px 8px;
	color: var(--secondary);
	fill: var(--secondary);
	opacity: .5;
	cursor: pointer;
	text-decoration: none;
	text-align: left;
	border: unset;
}
.desktop-settings-content button:hover, .desktop-settings-content a:hover {
	opacity: 1;
	background-color: var(--secondary);
	color: var(--primary);
	fill: var(--primary);
}
.desktop-settings-content button:active, .desktop-settings-content a:active {
	opacity: .5;
}
.desktop-settings-content button svg, .desktop-settings-content a svg {
	height: 100%;
	flex-shrink: 0;
	aspect-ratio: 1/1;
}
.desktop-settings-content button span, .desktop-settings-content a span {
	text-align: center;
	font-family: "Limkin Pixel", sans-serif;
	font-variation-settings: "wght" 500;
	font-weight: 500;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 12px;
	letter-spacing: .05em;
	line-height: 1em;
	padding-top: .2em;
	padding-right: 4px;
}

/* Lettersets */
.desktop-letterset {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	max-height: 400px;
	display: grid;
	grid-template-rows: 24px 1fr;
	border: 1px solid var(--secondary);
	gap: 1px;
	z-index: 999;
	background-color: var(--secondary);
	box-shadow: 0 0 16px rgba(0,0,0,.2);
}
.desktop-letterset[data-active="0"] {
	display: none;
}
.desktop-letterset-titlebar {
	height: 24px;
	background-color: var(--primary);
	color: var(--secondary);
	fill: var(--secondary);
	display: flex;
	cursor: grab;
}
.desktop-letterset-font {
	flex-grow: 1;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	white-space: nowrap;
	gap: 8px;
	padding: 4px 8px;
}
.desktop-letterset-font:hover {
	background-image: linear-gradient(45deg, var(--secondary) 25%, transparent 25%), linear-gradient(-45deg, var(--secondary) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--secondary) 75%), linear-gradient(-45deg, transparent 75%, var(--secondary) 75%);
	background-size: 2px 2px;
	background-position: 0 0, 0 1px, 1px -1px, -1px 0px; 
}
.desktop-letterset-font:active {
	cursor: grabbing;
	opacity: .5;
	background-image: linear-gradient(45deg, var(--secondary) 25%, transparent 25%), linear-gradient(-45deg, var(--secondary) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--secondary) 75%), linear-gradient(-45deg, transparent 75%, var(--secondary) 75%);
	background-size: 2px 2px;
	background-position: 0 0, 0 1px, 1px -1px, -1px 0px;  
}
.desktop-letterset-font svg {
	flex-shrink: 0;
	aspect-ratio: 1/1;
	height: 100%;
}
.desktop-letterset-font span {
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	letter-spacing: .03em;
	line-height: 1em;
	padding-top: .15em;
	padding-right: 4px;
}
.desktop-letterset-close {
	flex-shrink: 0;
	height: 100%;
	aspect-ratio: 1/1;
	padding: 4px;
	border: unset;
	background-color: unset;
	fill: var(--secondary);
	cursor: pointer;
}
.desktop-letterset-close:hover {
	background-color: var(--secondary);
	fill: var(--primary);
}
.desktop-letterset-close:active {
	opacity: .5;
}
.desktop-letterset-close svg {
	height: 100%;
}
.desktop-letterset-content {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	overflow-y: scroll;
	align-content: start;
	gap: 1px;
}
.desktop-letterset-content div {
	aspect-ratio: 1/1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary);
	color: var(--secondary);
	opacity: .5;
	cursor: pointer;
	font-size: 18px;
	line-height: 0;
}
.desktop-letterset-content div:hover {
	background-color: var(--secondary);
	color: var(--primary);
	opacity: 1;
}
.desktop-letterset-content div:active {
	opacity: .5;
}

/* ————————————————————————————————————— */
/* WINDOWS */
/* ————————————————————————————————————— */

/* Windows */
.window {
	position: absolute;
	display: grid;
	grid-template-rows: 24px 24px 1fr 4px;
	background-color: var(--secondary);
	border: 1px solid var(--secondary);
	transition: cubic-bezier(0.25, 1, 0.5, 1) .5s, z-index 0s;
	gap: 1px;
	color: var(--secondary);
	fill: var(--secondary);
	box-shadow: 0 0 16px rgba(0,0,0,.2);
}
.window[data-reposition='1'] {
	transition: none;
}

/* Titlebar */
.window-titlebar {
	display: flex;
	justify-content: space-between;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	min-width: 0;
}
.window-title {
	padding: 4px 8px;
	flex: 1 1 0;
	gap: 8px;
	display: flex;
	align-items: center;
	justify-content: start;
	cursor: grab;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	min-width: 0;
	background-color: var(--primary);
	color: var(--secondary);
	fill: var(--secondary);
}
.window-title:hover {
	background-color: var(--primary);
	background-image: linear-gradient(45deg, var(--secondary) 25%, transparent 25%), linear-gradient(-45deg, var(--secondary) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--secondary) 75%), linear-gradient(-45deg, transparent 75%, var(--secondary) 75%);
	background-size: 2px 2px;
	background-position: 0 0, 0 1px, 1px -1px, -1px 0px;  
}
.window-title:active {
	color: var(--secondary);
	fill: var(--secondary);
	cursor: grabbing;
	opacity: .5;
	background-image: linear-gradient(45deg, var(--secondary) 25%, transparent 25%), linear-gradient(-45deg, var(--secondary) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--secondary) 75%), linear-gradient(-45deg, transparent 75%, var(--secondary) 75%);
	background-size: 2px 2px;
	background-position: 0 0, 0 1px, 1px -1px, -1px 0px;  
}
.window-title svg {
	height: 100%;
	flex-shrink: 0;
}
.window-title-name {
	font-size: 14px;
	letter-spacing: .02em;
	line-height: 1em;
	padding-top: .15em;
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	min-width: 0;
}
.window-titlebar-btn {
	flex: 0 0 auto;
	aspect-ratio: 1/1;
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: var(--secondary);
	background-color: var(--primary);
	padding: 4px;
}
.window-titlebar-btn:hover {
	fill: var(--primary);
	background-color: var(--secondary);
}
.window-titlebar-btn:active {
	opacity: .5;
}
.window-titlebar-btn svg {
	height: 100%;
}

/* Controls */
.window-controls {
	height: 100%;
	display: flex;
	overflow-x: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	gap: 1px;
	align-items: stretch;
	justify-content: start;
	background-color: var(--secondary);
}
.window-controls::-webkit-scrollbar {
	display: none;
}
.window-controls-spacer {
	flex-grow: 1;
	background-image: linear-gradient(45deg, var(--primary) 25%, transparent 25%), linear-gradient(-45deg, var(--primary) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--primary) 75%), linear-gradient(-45deg, transparent 75%, var(--primary) 75%);
	background-size: 2px 2px;
	background-position: 0 0, 0 3px, 3px -3px, -3px 0px;
	opacity: .5;
}
.window-controls button {
	height: 100%;
	background-color: var(--primary);
	border: unset;
	display: flex;
	text-decoration: none;
	justify-content: start;
	align-items: center;
	padding: 4px 8px;
	fill: var(--secondary);
	color: var(--secondary);
	gap: 8px;
	cursor: pointer;
	opacity: .75;
	min-width: min-content;
	flex-shrink: 0;
	flex-basis: min-content;
	font-variation-settings: "wght" 500;
	font-weight: 500;
}
.window-controls button[data-active="1"] {
	background-color: var(--primary);
	opacity: 1;
}
.window-controls button:hover {
	opacity: 1;
	background-color: var(--secondary);
	color: var(--primary);
	fill: var(--primary);
}
.window-controls button:active {
	opacity: .5;
}
.window-controls button svg {
	height: 16px;
	width: 16px;
	flex-shrink: 0;
}
.window-controls button span {
	text-align: center;
	font-family: "Limkin Pixel", sans-serif;
	white-space: nowrap;
	font-size: 12px;
	letter-spacing: .05em;
	line-height: 1em;
	padding-top: .2em;
	padding-right: 4px;
}
@media screen and (max-width: 800px) {
	.window-controls button {
		flex: 0 1 0;
		min-width: unset;
	}
	.window-controls button:hover {
		min-width: unset;
	}
	.window-controls button span {
		display: none;
	}
}
.window-controls-menus {
	position: absolute;
	top: 49px;
	z-index: 9;
	display: flex;
	background-color: var(--secondary);
	border: 1px solid var(--secondary);
}
.window-controls-menus > div {
	display: none;
	flex-direction: column;
	gap: 1px;
}
.window[data-code="false"] [data-codeonly="1"] {
	text-decoration: line-through;
	opacity: .5;
	pointer-events: none;
}
.window-controls-menus button, .window-controls-menus a {
	border: unset;
	background-color: var(--primary);
	color: var(--secondary);
	fill: var(--secondary);
	text-decoration: none;
	font-variation-settings: "wght" 500;
	font-weight: 500;
	text-align: left;
	padding: 4px 8px;
	height: 24px;
	cursor: pointer;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 8px;
}
.window-controls-menus button svg, .window-controls-menus a svg {
	height: 100%;
	flex-shrink: 0;
	aspect-ratio: 1/1;
}
.window-controls-menus button span, .window-controls-menus a span {
	font-family: "Limkin Pixel", sans-serif;
	white-space: nowrap;
	font-size: 12px;
	letter-spacing: .05em;
	line-height: 1em;
	padding-top: .2em;
	padding-right: 4px;
}
.window-controls-menus button:hover, .window-controls-menus a:hover {
	background-color: var(--secondary);
	color: var(--primary);
	fill: var(--primary);
}
.window-controls-menus button:active, .window-controls-menus a:active {
	opacity: .5;
}
.window-controls-menus[data-menu=""] {
	display: none;
}
.window-controls-menus[data-menu="file"] > div[data-menu="file"] {
	display: flex;
}
.window-controls-menus[data-menu="edit"] > div[data-menu="edit"] {
	display: flex;
}
.window-controls-menus[data-menu="view"] > div[data-menu="view"] {
	display: flex;
}
.window-controls-menus[data-menu="window"] > div[data-menu="window"] {
	display: flex;
}

/* Content */
.window-content {
	background-color: var(--secondary);
	overflow: hidden;
	position: relative;
	gap: 1px;
	border: 4px inset var(--primary);
}
.editor-preview {
	background-color: white;
	width: 100%;
	height: 100%;
	transform-origin: top left;
	border: 1px solid var(--secondary);
}

/* Status bar */
.window-statusbar {
	width: 100%;
	height: 100%;
	background-color: var(--primary);
	border: 2px outset var(--primary);
}

/* Transitions */
.minimized {
	top: 100% !important;
	pointer-events: none;
	transition: ease-in .3s, z-index 0s;
	transform-origin: center;
	transform: scale(0);
}

/* Resizers */
.window-resize {
	position: absolute;
}
.window-resize-topleft {
	left: -4px;
	top: -4px;
	height: 12px;
	width: 12px;
	cursor: nwse-resize;
}
.window-resize-top {
	left: 8px;
	right: 8px;
	top: -4px;
	height: 10px;
	cursor: ns-resize;
}
.window-resize-topright {
	right: -4px;
	top: -4px;
	height: 12px;
	width: 12px;
	cursor: nesw-resize;
}
.window-resize-right {
	right: -4px;
	top: 8px;
	bottom: 8px;
	width: 10px;
	cursor: ew-resize;
}
.window-resize-bottomright {
	right: -4px;
	bottom: -4px;
	height: 12px;
	width: 12px;
	cursor: nwse-resize;
}
.window-resize-bottom {
	left: 8px;
	right: 8px;
	bottom: -4px;
	height: 10px;
	cursor: ns-resize;
}
.window-resize-bottomleft {
	left: -4px;
	bottom: -4px;
	height: 12px;
	width: 12px;
	cursor: nesw-resize;
}
.window-resize-left {
	left: -4px;
	top: 8px;
	bottom: 8px;
	width: 10px;
	cursor: ew-resize;
}

/* Snap-to-edge resizer */
.sizer {
	position: absolute;
	background-image: linear-gradient(45deg, var(--primary) 25%, transparent 25%), linear-gradient(-45deg, var(--primary) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--primary) 75%), linear-gradient(-45deg, transparent 75%, var(--primary) 75%);
	background-size: 8px 8px;
	background-position: 0 0, 0 12px, 12px -12px, -12px 0px;
	opacity: .5;
	display: none;
	pointer-events: none;
}
.sizer[data-pos='top'] {
	display: block;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: calc(50dvh + 14px);
}
.sizer[data-pos='right'] {
	display: block;
	top: 4px;
	left: calc(50vw + 4px);
	right: 4px;
	bottom: 28px;
}
.sizer[data-pos='bottom'] {
	display: block;
	top: calc(50dvh - 10px);
	left: 4px;
	right: 4px;
	bottom: 28px;
}
.sizer[data-pos='left'] {
	display: block;
	top: 4px;
	left: 4px;
	right: calc(50vw + 4px);
	bottom: 28px;
}

/* ———————————————————————————————————————————————— */
/* PRINTING */
/* ———————————————————————————————————————————————— */
@page {
	size: 11in 8.5in;
	margin: .25in;
}
@media print {
	body[data-color-mode="1"] * {
		--primary: black !important;
		--secondary: white !important;
		--tertiary: white !important;
	}
	.typey {
		display: none !important;
	}
	.desktop-settings {
		display: none !important;
	}
	.desktop-letterset {
		display: none !important;
	}
	.desktop-letter span {
		display: none !important;
	}
	.desktop {
		position: relative;
		top: 0;
		left: 0;
		width: 11in !important;
		height: 8.5in !important;
	}
	.dock {
		display: none !important;
	}
	.window {
		display: none !important;
	}
	.menu {
		display: none !important;
	}
	.settings {
		display: none !important;
	}
	.container {
		overflow: visible;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 11in !important;
		height: 8.5in !important;
	}
	.logo {
		display: none;
	}
}

/* ————————————————————————————————————— */
/* TYPEY! */
/* ————————————————————————————————————— */
.typey {
	position: absolute;
	bottom: var(--bottom);
	right: 0;
	z-index: 9;
	--typey: 90deg;
}
body[data-color-mode="1"] .typey {
	filter: grayscale(100%);
}

/* Character */
.typey-character {
	position: absolute;
	font-variation-settings: "TCKL" 0;
	right: 16px;
	bottom: 16px;
	font-family: "Typey";
	background-color: hsl(var(--typey), 100%, 60%);
	font-size: 100px;
	height: 160px;
	width: 160px;
	line-height: 1.3em;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: inset -8px -8px 16px rgba(0,0,0,.25), 0 0 16px rgba(0,0,0,.2);
	transition: font-variation-settings .5s, transform .5s cubic-bezier(0.34, 1.56, 0.64, 1);
	z-index: 1;
	cursor: pointer;
}
.typey-character:hover {
	font-variation-settings: "TCKL" 100;
}
.typey[data-active="0"] .typey-character {
	transform: scale(0) rotate(180deg);
	transition: transform .5s .25s cubic-bezier(0.83, 0, 0.17, 1);
}
.typey-character div {
	position: absolute;
	bottom: 26px;
	left: 30px;
	transform-origin: bottom center;
	animation: typey-speak .2s infinite alternate ease-in-out;
}
@keyframes typey-speak{
	from {
		transform: scaleY(1) scaleX(.95);
	}
	to {
		transform: scaleY(.9) scaleX(1);
	}
}
.typey-outline {
	color: hsl(var(--typey), 100%, 15%);
	z-index: 2;
}
.typey-letter {
	color: hsl(var(--typey), 100%, 50%);
	z-index: 1;
	filter: drop-shadow(4px 4px 8px rgba(0,0,0,.5));
}
.typey-glasses {
	color: hsl(var(--typey), 100%, 90%);
	z-index: 1;
}
.typey-nose {
	color: hsl(var(--typey), 100%, 60%);
	z-index: 1;
}
.typey-mouth {
	color: hsl(var(--typey), 100%, 80%);
	z-index: 1;
}

/* Dialogue box */
.typey-text {
	box-shadow: 0 0 16px rgba(0,0,0,.2);
	position: absolute;
	width: 240px;
	min-height: 240px;
	max-height: 50vh;
	background-color: var(--primary);
	bottom: 80px;
	right: 120px;
	color: var(--secondary);
	padding: 16px;
	overflow-y: scroll;
	line-height: 1.2em;
	display: flex;
	font-size: 14px;
	letter-spacing: .01em;
	text-wrap: pretty;
	flex-direction: column;
	gap: 8px;
	align-items: start;
	transform-origin: bottom right;
	transition: transform .5s .25s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.typey[data-active="0"] .typey-text {
	transform: scale(0);
	transition: transform .5s cubic-bezier(0.83, 0, 0.17, 1);
}
.typey-text button {
	border: unset;
	padding: 4px 8px 2px 8px;
	font-size: 14px;
	background-color: transparent;
	line-height: 1.2em;
	cursor: pointer;
	font-family: "Limkin Pixel", sans-serif;
	font-variation-settings: "wght" 500;
	font-weight: 500;
	color: hsl(var(--typey),100%,5%);
	text-align: left;
	border: 1px solid var(--secondary);
	cursor: pointer;
	text-wrap: pretty;
	margin-right: 32px;
}
.typey-text button:hover {
	background-color: var(--secondary);
	color: var(--primary);
}
.typey-text button:active {
	opacity: .5;
}

/* Mobile typey */
@media screen and (max-width: 800px) {
	.typey-text {
		right: 80px;
	}
	.typey-character {
		right: 0;
		bottom: 0;
		transform: scale(75%);
	}
}