* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    background:
        linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(-90deg, #aaa 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(#aaa 1px, transparent 1px),
        #f2f2f2;
    background-size:
        4px 4px,
        4px 4px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
}



.textbox {
	width: 400px;
	height: 400px;
	padding: 5px;
	display: grid;
	grid-template-rows: 40px 1fr;
	background-color: lightgray;
	position: relative;
	background-size: 5px 5px;
	background-image: radial-gradient(black 1px, white 1px);
  
}
.textbox-content {
	background-color: white;
}
.textbox-resize-left {
	position: absolute;
	width: 10px;

}