* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(10,10,10);
}
:root {
	--size: 10%;
}

/* Container */
.container {
	width: 100vw;
	height: 100dvh;
}
.texture {
	opacity: .02;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	object-fit: cover;
	z-index: 9;
	mix-blend-mode: lighten;
	pointer-events: none;
}
.border {
	border: 5px solid white;
	position: fixed;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	pointer-events: none;
	filter: blur(2px);
	border-radius: 5px;
	animation: border 1s infinite alternate ease-in-out;
}
@keyframes border {
	0% {
		filter: blur(2px);
	}
	100% {
		filter: blur(4px);
	}
}

/* Content */
.content {
	width: 100%;
	height: 100%;
	padding: 40px;
	overflow-y: scroll;
	display: flex;
	align-items: start;
	justify-content: start;
	align-content: start;
	justify-items: start;
	flex-wrap: wrap;
}
.content * {
	width: var(--size);
	mix-blend-mode: lighten;
	aspect-ratio: 3/4;
	object-fit: cover;
}
.line-break {
	flex-basis: 100%;
	height: 0;
}

/* Blinking cursor */
#cursor {
	animation: cursor .5s steps(1) infinite alternate;
	background-color: white;
	width: calc(var(--size) / 20);
	aspect-ratio: 3/80;
	filter: blur(1px);
	border-radius: 20%;
}
@keyframes cursor {
	0% {
		opacity: .8;
	}
	50% {
		opacity: 0;
	}
}

/* Controls */
.controls {
	position: fixed;
	right: 40px;
	bottom: 40px;
	gap: 20px;
	display: flex;
}
.controls button {
	font-size: 40px;
	border: unset;
	background-color: unset;
	color: white;
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: flex;
	fill: white;
	align-items: center;
	justify-content: center;
	filter: blur(2px);
	opacity: .5;
	transition: .2s;
}
.controls button svg {
	width: 100%;
	height: 100%;
}
.controls button:hover {
	filter: blur(0px);
	opacity: 1;
}
.controls button:active {
	filter: blur(2px);
}
.controls button:focus {
	outline: none;
}